body {
  
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}

.delete{
  float: right;
}

.nav .caret{
  border-top-color: #999 !important;
  border-bottom-color: #999;
}



.header-image{ 
  background: url("../images/surfing.jpg");
  background-size: cover;
  height: 375px;
}
.img-one{
  background-size: cover;
  background-position: center;
  height: 500px;
}



.pic-caption{
  font-size: 30px;
}

.page{
  font-size: 15px;
}

.outer{
  padding: 10px 150px 30px 150px;
}

.inner{
  padding: 0;
}

.searchForm {
	padding-top: 7px;
	height:25px;
}