body {
  
}

.delete{
  float: right;
}

.nav .caret{
  border-top-color: #999 !important;
  border-bottom-color: #999;
}



.header-image{ 
  background: url("http://www2.hawaii.edu/~andrewpw/header.jpg");
  background-size: cover;
  height: 375px;
}
.img-one{
  background-size: cover;
  background-position: center;
  height: 500px;
}



.pic-caption{
  font-size: 30px;
}

.page{
  font-size: 15px;
}

.outer{
  padding: 10px 150px 30px 150px;
}

.inner{
  padding: 0;
}