@(message: String)

@Main("Home") {
   <div class="outer">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       @for(surfer <- SurferDB.getSurferList()){
         @if(surfer.getIndex() == 1){
           <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         } else{
           <li data-target="#carousel-example-generic" data-slide-to="@surfer.getIndex()"></li>
         }
       }
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner">
       @for(surfer <- SurferDB.getSurferList()){
         @if(surfer.getIndex() == 1){
           <div class="item active">
         } else {
           <div class="item">
         }
         <div class ="img-one" style = "background-image: url('@surfer.getCarouselURL()');"></div>
         <div class="carousel-caption">
           <p class="pic-caption">@surfer.getName()</p>
         </div>
           </div>
        }
     </div>


     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
       <span class="icon-prev"></span>
     </a>
     <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
       <span class="icon-next"></span>
      </a>
    </div>
  </div>
}
