@(message: String, isLoggedIn: Boolean, userInfo: UserInfo, searchFormData: Form[views.formdata.SearchFormData],
 surferType: Map[String, Boolean], countryType: Map[String, Boolean])

@Main(message, isLoggedIn, userInfo, searchFormData, surferType, countryType) {
   <div class="outer">
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     <!-- Indicators -->
     <ol class="carousel-indicators">
       <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
       <li data-target="#carousel-example-generic" data-slide-to="1"></li>
       <li data-target="#carousel-example-generic" data-slide-to="2"></li>
     </ol>

     <!-- Wrapper for slides -->
     <div class="carousel-inner">
       @for((surfer, index) <- SurferDB.getRandomSurferList().zipWithIndex){
         @if(index == 0){
           <div class="item active">
         } else {
           <div class="item">
         }
         <div class ="img-one" style = "background-image: url('@surfer.getCarouselURL()');"></div>
         <div class="carousel-caption">
           <a href = "/surfer/@surfer.getSlug()">
           <p class="pic-caption">@surfer.getName()</p></a>
         </div>
           </div>
        }
     </div>


     <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
       <span class="icon-prev"></span>
     </a>
     <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
       <span class="icon-next"></span>
      </a>
    </div>
  </div>
}
