@(message: String)

@Main("Layne Beachley") {
   <div class="row">
  </div>
   <div class="row">
   <div class="col-md-4">
      <div class="well">
        <div class="layne-image"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <h1 id="intro">Layne Beachley</h1>
        <p>There’s Michael Jordan's Chicago Bulls of the 1990s, Tom Brady's New England Patriots of the 2000s and then there’s Layne Beachley. Maybe that’s a bit of an exaggeration, but in female surfing terms, she’s been that dominant. Layne Beachley is considered one of the best ever in her sport.</p>
       <p>She has won seven World Championships (1998, 1999, 2000, 2001, 2002, 2003, and 2006) and became one of the few women to ever compete in a men’s tournament when she earned an invitation to the Energy Australian Open.</p>
      </div>
    </div>
  </div>
}
