@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, loginForm:Form[views.formdata.LoginFormData])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
   <div class="container">
       <div class="row">
         <div class="col-sm-offset-4 col-sm-4">
           @loginform(routes.Application.postLogin(), loginForm("email"), loginForm("password"))
         </div>
       </div>
   </div>
   @if(!models.UserInfoDB.adminDefined()){
     <div class = "alert alert-danger">No Admin Credetials Defined!</div>
   }
}
