@(message: String, isLoggedIn: Boolean, userInfo: UserInfo, searchFormData: Form[views.formdata.SearchFormData],
surferType: Map[String, Boolean], countryType: Map[String, Boolean], searchTerm: String, searchType: String, country:
String, currentPage: com.avaje.ebean.Page[Surfer]) 

@import bootstrap3._

@Main("Search", isLoggedIn, userInfo, searchFormData, surferType, countryType) {

<div class="container">

<p>@currentPage.getTotalRowCount result(s) for search of keyword(s): "@searchTerm" of type: 
@if(searchType.equals("")) {"All Types"} else {"@searchType"} 
from: @if(country.equals("")) {"All Countries"} else {"@country"}.</p> 

  <table class="table table-bordered">
   <tr>
   <th>Name</th>
   <th>Type</th>
   <th>Country</th>
   <th>Description</th>
   </tr>
    @for(surfer <- currentPage.getList()) {
    <tr><td><a id="@surfer.getSlug()" href="../surfer/@surfer.getSlug()">@surfer.getName()</a></td>
    <td>@surfer.getType()</td>
    <td>@surfer.getCountry()</td>
    <td>@surfer.getTruncatedBio()</td>
    </tr>
    }
    </table>

@if(currentPage.getTotalPageCount > 1) {
<ul class="pagination">
  @if(currentPage.hasPrev) {
  <li><a href="@routes.Application.pageSearch(searchTerm, searchType, country, currentPage.prev.getPageIndex + 1) ">&laquo;</a></li>
  }
  @for(index <- 1 to currentPage.getTotalPageCount) {
  <li><a href="@routes.Application.pageSearch(searchTerm, searchType, country, index)">@index</a></li>
  }
  @if(currentPage.hasNext) {
  <li><a href="@routes.Application.pageSearch(searchTerm, searchType, country, currentPage.next.getPageIndex + 1)">&raquo;</a></li>
  }
</ul>
}

          </div>

}
