@(message: String, isLoggedIn: Boolean, userInfo: UserInfo, searchFormData: Form[views.formdata.SearchFormData],
 surferType: Map[String, Boolean], countryType: Map[String, Boolean], searchTerm: String, searchType: 
 String, country: String, results: List[Surfer])

@Main("Search", isLoggedIn, userInfo, searchFormData, surferType, countryType) {
  <div class="container">
    <table class="table table-bordered col-md-4">
        <tr>Search: Keyword(s) "@searchTerm", Type: @if(searchType == "") {"All Types"} else {"@searchType"}, 
            Country: @if(country == "") {"All Countries"} else {"@country"}. [@results.size() results]<br /></tr>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr>
  @for(surfer <- results) {
    <tr>
      <td><a href="../surfer/@surfer.getSlug()">@surfer.getName()</a></td>
      <td>@surfer.getTruncatedBio()</td>
    </tr>
  }
  </table>
  </div>
}
