@(user: UserInfo, isLoggedIn: Boolean, userInfo: UserInfo, searchFormData: Form[views.formdata.SearchFormData],
surferType: Map[String, Boolean], countryType: Map[String, Boolean]) 

@Main("User - " + userInfo.getName, isLoggedIn, userInfo, searchFormData, surferType, countryType) {
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading" style="background-color:black;">
      <div class="panel-title">
        <h1 style="color: white;">
          @user.getName() <small>@user.getEmail()</small>
        </h1>
      </div>
    </div>
    <div class="panel-body">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading" style="background-color:white;">
                <h3 class="panel-title" style="color:black;">Favorite Surfer <span class="badge pull-right">@FavoriteDB.getFavorite(user).size()</span></h3>
              </div>
              <div class="panel-body">
               <ul class="list-group">
              @if(FavoriteDB.getFavorite(user).size() > 0) {
                @for(favorite <- FavoriteDB.getFavorite(user)) {
                  <li class="list-group-item">
                  <a href="/surfer/@favorite.getSurfer().getSlug()">@favorite.getSurfer().getName()</a>
                  @if(user.equals(userInfo)) {<a href="@routes.Application.deleteFavorite(favorite.getSurfer().getSlug())">
                  <button id="deleteFav-@favorite.getSurfer().getSlug()" type="button" class="btn btn-info btn-xs pull-right">Delete</button></a>
                  </li>}
                }
              } else {
                <li class="list-group-item">
                No Favorite Surfers
                </li>
              }
              </ul>
              </div>
            </div>
          </div>
                    <div class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading" style="background-color:white;">
                <h3 class="panel-title" style="color:black;">Rating <span class="badge pull-right">@user.getRatings().size()</span></h3>
              </div>
              <div class="panel-body">
               <ul class="list-group">
              @if(user.getRatings().size() > 0) {
                @for(rating <- user.getRatings()) {
                  <li class="list-group-item">
                  <a href="/surfer/@rating.getSurfer().getSlug()">@rating.getSurfer().getName() <span class="label label-info">@rating.getUserRating(userInfo)</span></a>
                  @if(user.equals(userInfo)) {<a href="@routes.Application.deleteRating(user.getId(), rating.getSurfer().getId())">
                  <button id="deleteRating" type="button" class="btn btn-info btn-xs pull-right">Delete</button></a></li>}
                  }
              } else {
                <li class="list-group-item">
                No Rating(s)
                </li>
              }
              </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
