@(isLoggedIn: Boolean, userInfo: UserInfo, surfer: Surfer, searchFormData: Form[views.formdata.SearchFormData],
  surferType: Map[String, Boolean], countryType: Map[String, Boolean], rating: List[String], 
  ratingFD: Form[views.formdata.RatingFormData])

@import helper.form
@import bootstrap3._

@Main(surfer.getName(), isLoggedIn, userInfo, searchFormData, surferType, countryType) {
  <div class="container">
   <div class="row">
   <div class="col-md-4">
      <div class="well">
        <div class ="img-one" style = "background-image: url('@surfer.getBioURL()');"></div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well">
        <div class = "page">
          <h1 id="intro">@surfer.getName()
                    @if(isLoggedIn) {
            @if(!FavoriteDB.isAFavorite(surfer, userInfo)) {
              <a id="addFav" href="@routes.Application.addFavorite(surfer.getSlug())" type="button" class="btn btn-primary pull-right">Favorite</a>
            } else {
              <a id="removeFav" href="@routes.Application.deleteFavorite(surfer.getSlug())" type="button" class="btn btn-primary pull-right">Remove Favorite</a>
            }
          }   
          </h1> 
          @if(isLoggedIn) {
            <p>
              Rating: <span class="label label-default">@surfer.getRatingInText()   </span>
            </p>
            <p>
              Your Rating: 
              @if(!RatingDB.hasRated(surfer, userInfo)) {
              <span class="label label-default">No Rating</span>
              <a href="@routes.Application.rate(surfer.getSlug())">Make A Rating</a>              
              } else {
              <span class="label label-default">@RatingDB.getRating(surfer, userInfo).getRating()</span>
              <a href="@routes.Application.rate(surfer.getSlug())">Change Your Rating</a>}
            </p> 
          } else {
            <p>Rating: <span class="label label-default">@surfer.getRatingInText()</span>  </p>        
          }
          <hr/>
        <p>
          <b>Home Town:</b> @surfer.getHometown()
        </p>
        <p>
          <b>Country:</b> @surfer.getCountry()
        </p>
          @if(surfer.getAwards() != null){
        <p>
          <b>Awards:</b> @surfer.getAwards()
        </p>
          }
        <p>
          <b>Footstyle:</b> @surfer.getFootstyle()
        </p>
          <p><b>Biography:</b> @surfer.getBio()</p>
          @if(isLoggedIn){
          <p><a href = @routes.Application.manageSurfer(surfer.getSlug())>
               <button type="button" class="btn btn-primary btn-sm">Edit</button></a>
          <a data-toggle="modal" href="#myModal" class = "delete">
          @if(userInfo.isAdmin()) {
          <button type="button" class="btn btn-primary btn-sm">Delete</button></a></p>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Really Delete Surfer?</h4>
                </div>
                <div class="modal-body">
                  <p>This cannot be undone.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <a href = @routes.Application.deleteSurfer(surfer.getSlug()) type="button" class="btn btn-primary">Delete</a>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          }    
        </div>
        }
      </div>
    </div>
  </div>
  </div>
}

