@(message: String, isLoggedIn: Boolean, userInfo: UserInfo, updates: List[Update])

@Main("Home", isLoggedIn, userInfo) {
   <div class="container">
     <h1>List of Updates to Surferpedia</h1>
     <table class= "table table-striped table-bordered">
       <tr>
         <th>Date</th>
         <th>Action</th>
         <th>Surfer</th>
       </tr>
       @for(update <- updates){
       <tr>
         <td>@update.getDate()</td><td>@update.getType()</td><td>@update.getTarget()</td>
       </tr>
       }
     </table>
   </div>
}
